/* Estilo para la barra de navegación */
.navbar {
    background-color: #343a40; /* Color de fondo */
}

.navbar-brand {
    font-size: 24px; /* Tamaño de fuente del logo */
}

.navbar-toggler-icon {
    background-color: #fff; /* Color del icono del botón de hamburguesa */
}

.navbar-nav .nav-link {
    color: #fff; /* Color de texto de los enlaces */
    font-size: 18px; /* Tamaño de fuente de los enlaces */
}

/* Estilo para los encabezados de sección */
h2 {
    color: #333; /* Color del texto de los encabezados */
    font-size: 24px; /* Tamaño de fuente de los encabezados */
    margin-top: 20px; /* Espacio superior */
}
